<section class="banner" id="home">
</section>

<section class="content">
  <div class="services" id="services">
      <h2>Nossos Serviços</h2>
      <p>Oferecemos uma ampla gama de veículos para aluguel, desde carros compactos até SUVs e veículos de luxo. Todos os nossos carros são bem mantidos e prontos para oferecer uma experiência de condução excepcional.</p>
      <ul>
          <li>Carros Compactos</li>
          <li>SUVs</li>
          <li>Veículos de Luxo</li>
          <li>Aluguel de Curta e Longa Duração</li>
      </ul>
  </div>

  <div class="contact" id="contact">
      <h2>Entre em Contato</h2>
      <p>Para mais informações ou para reservar um veículo, entre em contato conosco:</p>
      <p>Telefone: (11) 1234-5678</p>
  </div>
</section>
