.banner {
  background: url('../../../../public/images/image-62.png') no-repeat center center/cover;
  opacity: 0.5;
  height: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  padding: 20px;
}
.services, .contact {
  margin-bottom: 20px;
}
.services h2, .contact h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

