<div class="container-fluid">
  <form>
    <div class="mb-3">
      <input type="text" class="form-control" hidden name="id" [(ngModel)]="id">
    </div>
    <div class="mb-3">
      <label for="nome" class="form-label">Nome: </label>
      <input type="text" name="nome" class="form-control" [(ngModel)]="nome">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email: </label>
      <input type="text" name="email" class="form-control" [(ngModel)]="email">
    </div>
    <div class="mb-3" >
      <button class="btn btn-success" (click)="cadastrarUsuario()" routerLink="usuarios/list">Cadatrar</button>
    </div>

  </form>
</div>
